<div>
  <div>Username: {{sale.user}}</div>
  <div>Plataforma: {{sale.platform}}</div>
  <div>Fecha: {{sale.created}}</div>
  Detalles
  <table>
    <tr>
      <td>{{sale.product}}</td>
      <td>{{sale.total}}</td>
    </tr>
  </table>
  <button onclick="window.print();return false;" >Imprimir Recibo</button>
</div>
   
