<div>
  <div>Username: {{sale.mail}}</div>
  <div>Plataforma: {{sale.platform}}</div>
  <div>ID: {{details.id}}</div>
  <div>Fecha: {{details.create_time}}</div>
  {{sales.details[transactions]}}
  {% for item in sales.details.transactions %}
    <div>{{ item }} </div>
  {% endfor %}
  <button onclick="window.print();return false;" >Imprimir Recibo</button>
</div>
   
